.page {
	& > .close {
		display: inline-block;
		width: 100vw;
		text-align: center;
		margin-top: 0.6em;
		font-family: 'Office-Medium';
		color: var(--color2);
		font-size: var(--type-xs);
	}
	& > header {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		width: 100%;
		& > .title {
			color: var(--color4);
			& > div {
				max-width: calc((100vw - 4 * var(--space-m)) / 4 * 3);
			}
			margin: 0 var(--space-m);
			/* padding-top: 0.4em; */
			margin-bottom: 7vw;
			text-wrap: balance;
			width: max-content;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			gap: 3vw;
			padding-left: 5px;
			cursor: default;
			& > div {
				padding-top: 0.2em !important;
			}

			&:hover {
				outline: var(--color3) 1px solid;
				& > .questions {
					opacity: 1;
				}
			}
			& > .questions {
				font-family: 'Office-Medium';
				color: white;
				max-width: 60ch;
				text-transform: uppercase;
				opacity: 0;
				font-size: 80%;
				line-height: 110%;
			}
		}
	}

	& > main {
		border-top: var(--color2) 2px solid;
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		padding: 0 var(--space-m);
		gap: var(--space-m);
		& > .content {
			grid-column: 1/-2;
			& > p {
				max-width: calc((100vw - 4 * var(--space-m)) / 4 * 2);
				margin-left: calc((100vw - 4 * var(--space-m)) / 4 * 1);
				margin-bottom: 0.5em;

				cursor: none;
				&:hover {
					outline: var(--color2) solid 1px;

					&:before {
						display: block;
					}
				}

				&:before {
					display: none;
					position: absolute;
					left: var(--space-m);
					content: var(--content);
					white-space: pre;
					font-family: 'Office-Medium';
					color: var(--color2);
					font-size: var(--type-xs);
					line-height: 110%;
					background-color: black;
					z-index: 3;
					width: min-content;
					text-transform: uppercase;
					padding: 1px;
					outline: var(--color2) solid 1px;
					max-width: 50ch;
				}

				& > .word {
					position: relative;
					& > .note {
						vertical-align: super;
						font-size: var(--type-xs);
						background-color: var(--color4);
						color: black;
						border: var(--color3);
					}
					&:hover {
						background-color: var(--color4);
						color: black;
						outline: var(--color3) 1px solid;
						&::after {
							display: block;
						}
					}
					&::after {
						position: absolute;
						top: 2em;
						left: 0;
						content: var(--length);
						display: none;
						white-space: pre-line;
						white-space: break-spaces;
						font-family: 'Office-Medium';
						color: var(--color3);
						font-size: var(--type-xs);
						line-height: 110%;
						background-color: black;
						z-index: 3;
						width: max-content;
						text-transform: uppercase;
						padding: 1px;
						outline: var(--color3) solid 1px;
					}
				}
			}

			& > figure {
				/* border-left: darkgrey 10px solid; */
				/* border-right: var(--color) 1px solid; */
				margin-bottom: 1em;
				max-width: calc((100vw - 4 * var(--space-m)) / 4 * 4);
				/* padding-right: calc((100vw - 4 * var(--space-m)) / 4 * 1); */
				background-color: black;
				& > figcaption {
					font-family: 'Office-Medium';
					font-size: var(--type-xs);
					line-height: 110%;
					color: var(--color4);
					text-wrap: balance;
					background-color: black;
					max-width: calc((100vw - 4 * var(--space-m)) / 4 * 1);
					text-transform: uppercase;
					&::before {
						content: '[FIG] ';
					}
				}
			}

			& > blockquote {
				font-family: 'Century';
				max-width: calc((100vw - 4 * var(--space-m)) / 4 * 2);
				margin-left: calc((100vw - 4 * var(--space-m)) / 4 * 1);
				padding-left: var(--space-m);
				border-left: white 2px solid;
				color: var(--color3);
				font-size: 120%;
				line-height: 100%;
				margin-top: 0.5em;
				margin-bottom: 1em;
				& > .caption {
					font-family: 'Office-Medium';
					color: white;
					font-size: var(--type-xs);
					margin-top: var(--space-m);
				}
			}
		}

		& > .refs {
			grid-column: -2/-1;
			display: flex;
			flex-direction: column;
			gap: var(--space-m);
			& > ref {
				font-size: var(--type-xs);
				font-family: 'Office-Medium';
				line-height: 110%;
				text-transform: uppercase;
				& > .index {
					background-color: var(--color2);
					color: black;
				}

				& > .content {
					color: var(--color4);
					padding: 2px;
					border-left: solid 1px white;
					border-right: solid 1px white;
					border-bottom: solid 1px white;
					& > a {
						color: var(--color2);
						text-decoration: underline;
					}
				}
			}
		}
	}

	& > nav {
		width: 100%;
		outline: var(--color2) solid 1px;
		display: flex;
		flex-direction: row;
		align-items: stretch;
		margin-bottom: 2vh;
		margin-top: 5vh;
		& > a {
			flex-grow: 1;
			min-width: 48vw;
			padding-left: var(--space-m);
			padding-bottom: var(--space-m);
			& > .label {
				font-size: var(--type-xs);
				font-family: 'Office-Medium';
				text-transform: uppercase;
			}

			& > .title {
				text-wrap: balance;
			}

			& > .questions {
				font-size: var(--type-xs);
				font-family: 'Office-Medium';
				text-transform: uppercase;
				color: var(--color3);
				opacity: 0;
				line-height: 110%;
			}

			&:hover {
				color: black;
				background-color: var(--color3);
				cursor: none;
				& > .questions {
					opacity: 1;
					color: white;
				}
			}
		}
		& > a:nth-of-type(2) {
			border-left: 1px white solid;
		}
	}
}
